 @import url('https://fonts.cdnfonts.com/css/pp-neue-montreal');
 
 body {
    font-family: 'PP Neue Montreal', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('ImageSrc/Login-Signup\ BG-IMAGE.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; 
}

/* LOGIN FORM */
.login-container {
    text-align: center;
    width: 550px;
    height: 890px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 50px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}
.login-container h2 {
    margin-bottom: 20px;
    text-align: center;
}
.login-container input[type="text"],
.login-container input[type="password"] {
    background-color: #FFF8CF;
    width: calc(80% - 40px);
    height: 20%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}
.login-container input[type="submit"] {
    font-size: 20px;
    width: 30%;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    border: none;
    border-radius: 20px;
    background-color: #3DA664;
    color: #ffffff;
    cursor: pointer;
}
.login-container input[type="submit"]:hover {
    background-color: #216c3d;
}
.login-container p {
    margin-top: 15px;
    text-align: center;
}

/* For alert box */
.custom-alert {
    display: none;
    position: fixed;
    top: 610px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #8b1717;
    color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.custom-alert.show {
    display: block;
}